*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*///////////////////// HTML elements ////////////////////*/

body{
    margin: 0%;
    padding: 0%;
    background-image: url(./assets/stars_2.jpg);
    background-position: cover;
}

footer{
    width: 100%;
    height: 200px;
    background-color: rgb(1, 14, 4);
    display: flex;
    flex-wrap: wrap;
}

h1{
    color: rgba(255, 255, 255, 0);
}

h2{
    position: relative;
    text-align: center;
    top: 50px;
}

p{
    position: relative;
    text-align: center;
    top: 50px;
}

/*/////////////////////// Images /////////////////////////*/

.img-head-t{
    margin: 0%;
    padding: 0%;
    background-image: url(./assets/pokedex_logo.png);
    background-repeat: no-repeat;
    width: 375px;
    height: 136px;
    position: relative;
    top: 32px;
}

.img-body-i{
    margin: 0%;
    padding: 0%;
    position: relative;
    background-image: url(./assets/paisaje.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1000px;
}

.img-pokedex{
    background-image: url(./assets/pokedex.png);
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    background-position: center;
    width: 100%;
    height: 637px;    
    display: grid;
    place-items: center;
}

.img-pok-b{
    background-image: url(./assets/pokeball_a.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}

/*//////////////////// Containers ///////////////////////*/

.cont-head{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: darkslateblue;
}

.cont-form{
    width: 100%;
    height: 50px;
    position: relative;
    text-align: center;
    top: 100px;
}

.cont-inf{
    width: 300px;
    height: 219px;
    background-color: rgba(32, 178, 171, 0.473);
    background-position: center;
    position: relative;
    top: 26px;
    right: 8px;
    display: inline-flex;
    flex-wrap: wrap;
}

.cont-pok-b{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.cont-s{
    width: 130px;
    height: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.cont-e{
    width: 300px;
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: flex;
}

.cont-m{
    width: 300px;
    height: 90px;
    background-color: rgba(17, 19, 3, 0.815);
    display: flex;
    justify-content: space-around;
}

.cont-ec{
    width: 100px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
}

/*////////////////// Geometric forms ////////////////////*/



/*//////////// Dimensions, positions & color ////////////*/

.dpc-cont-s{
    width: 170px;
    justify-content: right;
}

.dpc-nom{
    background-color: rgba(34, 32, 178, 0.664);
    
    width: 100px;
    height: 20px;
    text-align: center;
}

.dpc-n{
    background-color: rgba(178, 32, 32, 0.664);
    
    width: 30px;
    height: 20px;
    text-align: center;
}

.dpc-nt{
    background-color: rgba(255, 255, 255, 0.801);
    
    width: 70px;
    height: 20px;
    text-align: center;
}

.dpc-pb{
    position: relative;
    top: 25px;
}

.dpc-space{
    position: relative;
    height: 20px;
    color: rgba(255, 255, 255, 0);
}

.dpc-sn{
    position: relative;
    top: 10px;
    width: fit-content;
}

.dpc-sd{
    position: relative;
    top: 10px;
    width: 60px;
    text-align: center;
}

.dpc-quote{
    width: 100%;
    text-align: center;
    position: relative;
}

/*//////////// Effects ////////////*/

.font-c{
    color: white;
}