*{
    font-family: Arial, Helvetica, sans-serif;
}

/*############ HTML ############*/

h1{
    color: rgba(43,75,201,255);
    font-weight: 700;
    font-size: x-large;
}

h2{
    font-size: 50px;
    font-weight: 900;
    color: #1f3e72;
}

p{
    color: #6d7b93;
    font-weight: 600;
    line-height: 30px;
}

a{
    text-decoration: none;
}

article{
    width: 400px;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*############ Backgronds ############*/

.vaccine{
    margin: 0;
    padding: 0;
    background-image: url(./assets/vaccine.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    height: 700px;
}

.vac-brands{
    background-image: url(./assets/vac-brands.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    width: 100%;
}

.nurse{
    height: 500px;
    width: 500px;
    background-image: url(./assets/nurse.png);
    background-repeat: no-repeat;
    background-position: 150px;
}

.medic{
    width: 300px;
    height: 600px;
    background-image: url(./assets/medic.jpg);
    background-repeat: no-repeat;
    position: relative;
    right: 150px;
}

/*############## Containers ################*/

.container1{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0%;
}

.container2{
    width: 45%;
    height: 50px;
    position: fixed;
    right: 300px;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-it{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-art{
    height: 250px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-box{
    height: 240px;
    width: 200px;
    border-radius: 10%;
}

.container-box-alt{
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container-menu{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 700px;
    top: 1500px;
    display: flex;
}

.container-box-box{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50px;
}

.container-foot{
    width: 500px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.container-law{
    width: 700px;
    height: 50px;
    position: inherit;
    display: flex;
    justify-items: space-between;
}

.container-inf{
    width: 100%;
    height: 50px;
    position: relative;
    left: 150px;
    display: flex;
    justify-content: space-between;
}
/*######### Geometric forms ##########*/

.base-fig{
    width: 200px; 
    height: 200px; 
    border-top: 200px solid #f4f6fb;
    position: relative;
}

.triangle-d{
    width: 150px;
    height: 150px;
    clip-path: polygon(0 0, 75px 75px, 100% 0);
}

.triangle-l{
    clip-path: polygon(100% 0, 100px 100px, 200% 100%);
}

.triangle-r{
    clip-path: polygon(0 0, 100px 100px, 0 50%);
}

.blue-b{
    background-color: rgba(53,85,211,255);
    position: fixed;
    height:  50px;
    width: 150px;
    border-radius: 10px;
    top: 30px;
    right: 120px;
    text-align: center;
    
}

.text-bb{
    color: white;
    font-weight: 600;
    line-height: normal;
}

.mini-b{
    height: 30px;
    width: 30px;
    background-color: #e9f1fe;
    border-radius: 20%;
    display: grid;
    place-items: center;
}

.mini-b-p{
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 20px;
}

.mini-b-c{
    background-color: #fff7db;
}

.mini-bt{
    height: 30px;
    width: fit-content;
    display: grid;
    place-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #6d7b93;
}

.button-b1{
    width: 150px;
    height: 50px;
    background-color: #e9f1fe;
    color: #2f4fcd;
    border-radius: 10px;
    position: relative;
    left: 30px;
}

/*############ Positioning and dimentions ###############*/

.pos-ide{
    text-indent: 100px;
    position: fixed;
    top: 15px;
}

.p-position1{
    position: absolute;
    top: 100px;
}

.p-position2{
    position: absolute;
    top: 400px;
    right: 575px;
}

.a-position1{
    position: absolute;
    top: 100px;
    left: 150px;
}

.fcws{
    color: #1f3e72;
    font-weight: 600;
    font-size: 20px;
}
.dp-it1{
    width: 170px;
    position: absolute;
    top: 450px;
    left: 150px;
}

.dp-it2{
    width: 180px;
    position: absolute;
    top: 450px;
    left: 350px;
}

.dp-it3{
    width: 315px;
    position: absolute;
    top: 530px;
    left: 150px;
}

.dp-it4{
    width: 12%;
    position: relative;
    top: 15px;
    left: 50px;
}

.dp-it5{
    width: 9%;
    position: relative;
    top: 15px;
    left: 130px;
}

.dp-it6{
    width: 15%;
    position: relative;
    top: 15px;
    left: 230px;
}

.dp-it-c1{
    width: 200px;
}

.dpf-gl{
    position: absolute;
    top: 570px;
    left: 150px;
    border: solid;
    padding: 1px;
    border-radius: 3px;
    width: 900px;
    height: 100px;
    display: inline-flex;
    flex-wrap: wrap;
}

.d-vacc-text{
    position: absolute;
    top: 620px;
    left: 200px;
}

.d-vacc-date{
    position: absolute;
    top: 620px;
    left: 400px;
}

.d-vacc-vacc{
    position: absolute;
    top: 620px;
    left: 570px;
}

.p-submit{
    position: absolute;
    top: 620px;
    left: 870px;
}

.dp-va{
    width: 450px;
    position: relative;
    left: 150px;
}

.dp-triangle3{
    position: relative;
    left: 1150px;
    top: 100px;
}

.p-triangle4{
    position: relative;
    top: 100px;

}

.dp-cont-box{
    position: relative;
    height: 200px;
    width: 1100px;
    justify-content: space-around;
    left: 100px;
}

.dp-i{
    position: relative;
    top: 35px;
    left: 35px;
}

.dp-art{
    position: relative;
    top: 35px;
    left: 35px;
    width: 140px;

}

.dp-art2{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px;
}

.dp-menu{
    position: absolute;
    top: 250px;
    left: 5px;
    width: 400px;
}

.dp-art3{
    height: 400px;
    position: relative;
    left: 150px;
    top: 150px;
}

.dp-triangle4{
    position: absolute;
    right: 0px;
    top: 2300px;
}

.dp-img{
    top: 2700px;
}

.dp-footer{
    position: relative;
    top: 50px;
    width: 100%;
    height: 250px;
    background-color: #e9f1fe;
}

.dp-art-alt{
    width: 150px;
    height: 200px;
    top: 50px;

}

.dp-footer-l1{
    position: absolute;
    bottom: 100px;
    right: 300px;
}

.dp-footer-l2{
    position: absolute;
    bottom: 100px;
    right: 150px;
}

.dp-footer-l3{
    position: absolute;
    bottom: 100px;
    right: 0px;
}

/*################# Efects###############*/

.glass{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.shadow{
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.37);
}

.h2-csw{
    font-size: medium;    
    font-weight: 600;
}

.p-csw{
    font-size: small;
    line-height: normal;
    font-weight: 500;
}

.alt-c{
    background-color: rgba(53,85,211,255);
    color: white;
}


/*##################### Menu #######################*/

.tree{
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #d2d2d2;
}

.tree li {
    border-bottom: 1px solid #d2d2d2;
    padding: 15px 10px;
  }

.col-box{ 
    position: relative; 
    padding-left: 35px !important;
}

.col-box ul { display: none; }

.col-box input:checked ~ ul { display: block; }

.col-box input[type=checkbox] { display: none; }

.col-box label:after {
    content: "\0002B";
    position: absolute;
    top: 0; left: 340px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: rgb(38, 29, 160);
    transition: all 0.5s;
}

.col-box input:checked ~ label:after { 
    color: #b80505;
    transform: rotate(45deg);
}